# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.gradle
build
android.keystore
app
gradle*
gradlew*
build.gradle
app-release*
manifest-checksum.txt
local.properties
twa-manifest.json
settings.gradle